<div class="container-fluid footer-body">
    <!--socials-->
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestias, magnam fuga cupiditate harum nam amet soluta quod adipisci reprehenderit eum eaque incidunt impedit nobis quam. Beatae fugit nisi ipsam aut?</p>
    <hr>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda porro sint perspiciatis, odio, ullam atque ab itaque delectus aspernatur expedita, ducimus placeat corrupti laborum dicta a voluptate deserunt nemo ipsum!</p>
</div>