<section name="work" id="work">
    <div class="jumbotron jumbotron-fluid text-center">
        <div class="container">
          <h1 class="display-4 text-white">My Work</h1>
          <p class="lead text-white">This is a modified jumbotron that occupies the entire horizontal space of its parent.</p>
        </div>
      </div>
    <div class="work-body container-fluid">
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Id, porro, harum debitis error mollitia, nisi commodi vero quis molestiae odit aperiam voluptatem dolor dicta voluptates aspernatur aut quae consequatur voluptate!</p>
        <div class="card flip-card">
          <div class="flip-card-inner">
            <div class="flip-card-front">
              <img class="img-fluid" src="../../../assets/microphone-studio-surrounded-by-equipment-lights-with-blurry-background.jpg" alt="Avatar">
            </div>
            <div class="flip-card-back">
              <h1>John Doe</h1>
              <p>Architect & Engineer</p>
              <p>We love that guy</p>
            </div>
          </div>
        </div>
    </div>
</section>
