<div>
  <ngx-spinner   bdColor="rgba(200,200,200,0.8)"
  size="medium"
  color="#1d446dfa"
  type="pacman"></ngx-spinner>
<div class="container-fluid" id="mainBg">
  <app-navbar></app-navbar>
  <br>
  <br>
  <br>
  <div class="container-fluid row">
    <div class="col-sm-12 col-md-3 col-lg-3">
      <div class="container-fluid text-center">
        <div class="container hvr-outline-out">
          <img class="avatar mt-4 hvr-grow" src="../assets/woman.jpg" alt="Woman">
        </div>
      </div>
    </div>
    <div class="col-sm-12 col-md-9 col-lg-9">
      <div class="container-fluid text-white text-center p-5 my-5">
        <div class="container d-md-inline-block d-lg-inline-block">
          <div class="h1 typewriter">
              Hello, my name is Jane Doe.
              <!-- Sabina Moras -->
          </div>
        </div>  
      
        <br>
        <span class="h2">
          I'm a freelancing Voice Artist.
        </span>
      </div>
    </div>
  </div>

    

   
</div>
<br>
<div class="container-fluid px-5 py-3 justify-content-center">
  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Impedit similique veritatis animi dolores odit. Vero minima molestiae et corporis reiciendis nihil fuga officiis fugiat quaerat, harum ipsa, recusandae aspernatur distinctio. Lorem ipsum dolor sit amet consectetur adipisicing elit. Eum unde iure voluptas ea dolore ipsam aliquam praesentium, officia dolorem molestias quo aspernatur necessitatibus recusandae. Quisquam maxime minima possimus voluptatem voluptate. Lorem ipsum dolor sit amet consectetur, adipisicing elit. Dolorem quia at impedit perspiciatis est, consequatur, tempore, ipsam iusto totam deserunt provident hic. Deserunt quisquam dolor quo tempore amet ullam. Eius! Lorem ipsum dolor sit amet consectetur adipisicing elit. Id a doloremque dolorem laborum suscipit! Unde aperiam cum in, praesentium deleniti est neque nam dolor ea distinctio commodi eius similique sed.</p>
</div>
<app-work></app-work>
<app-services></app-services>
<app-contact></app-contact>
<app-footer></app-footer>
</div>
